<!DOCTYPE html>
<html>
<head>
    <title>Contact Us - Transport Phenomena Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Ysabeau Infant', sans-serif;
            background-color: #22A699;
            color: #fff;
            font-size:large;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 30px;
        }
        .navbar {
            background-color: #F29727;
        }
        .footer {
            font-size: 10px;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('howtouse') }}">How to Use</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('contactus') }}">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <hr>
        <p>
            For any questions or feedback regarding the Transport Phenomena Chatbot, feel free to reach out to us via email:
        </p>
        <p>
            Prakhar Katiyar: <a href="mailto:katiyar.4@iitj.ac.in">katiyar.4@iitj.ac.in</a>
        </p>
        <p>
            Dhruv Agarwal: <a href="mailto:agarwal.18@iitj.ac.in">agarwal.18@iitj.ac.in</a>
        </p>
        <div class="footer">
            <p>Design Credit Project by Prakhar Katiyar and Dhruv Agarwal under the mentorship of Dr. Tara Chand Kumawat</p>
        </div>
    </div>
</body>
</html>
